<%- include ('../partials/header') %>


<div class ="container">

	<header class = "jumbotron">
	<div class ="container">
		<h1>
			UnderratedTunes
		</h1>
		<p>Empowering songs and artists flying under the radar</p>
		<h5 class ="mt-0"><small><em>Utilizing Spotify's metadata, the least popular tracks (the ones with the least recent interaction) are sorted up to the top of our site.</em></small></h5>
		<h5>
			<a class ="btn btn-primary btn-lg" href ='/tunes/new'>Add New Song</a>
		</h5>
		<p>
			<form action ='/tunes' method='GET' class ='form-inline'>
				<div class ='form-group'>
					<input type="text" name="search" placeholder="Track search..." class='form-control'>
					<input type="submit" value="Search" class='btn btn-default'>
				</div>
			</form>
		</p>
	</div>
	</header>
	
	<%tunes.sort(function(a,b){return a.dbpopularity - b.dbpopularity});%>
	
	
	<div class = "row" style="display:flex; flex-wrap: wrap;">	
		<%tunes.forEach(function(tune){%>
			<div class ="col-md-3 col-sm-6">
				<div class ="thumbnail">
					<img src= "<%=tune.dbimageurl%>">
					<div class ="caption">
						<h4><%= tune.dbtrack %></h4>
						<h6><%= tune.dbartist %></h6>
						<p>
							<a class ="btn btn-primary" href ="/tunes/<%= tune._id %>">The Conversation</a>
						</p>
					</div>
				</div>
			</div>
		<%});%>
	</div>
	
	<div style = "clear:both;" class="footer-copyright text-center py-3">© 2020 Copyright: Ishan Ghimire
  	</div>
	<%- include ('../partials/footer') %>
</div>